label {
  display: block;
  margin-bottom: 1.5em;
  -webkit-tap-highlight-color: transparent;
}
.cb {
  box-shadow: 0 0 0 0.125em $bk3 inset;
  display: inline-block;
  position: relative;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
  }
  &:before {
    animation: eraseA $dur steps(1) forwards;
    background: url('https://s22.postimg.cc/fi4blx4gx/checkmark.png') 0 100% /
      1.2em 1.35em no-repeat;
    bottom: 0.2em;
    left: 0.3em;
    width: 0;
    height: 1.35em;
  }
  &:after {
    animation: eraseB $dur linear forwards;
    background:
			/* eraser */ linear-gradient($w1 50%, $wT 50%) 11.2em 0,
      linear-gradient($pk, $pk) 11.2em 0,
      /* metal part */
        linear-gradient(
          90deg,
          $w2,
          $w2 0.1em,
          $wT 0.1em,
          $wT 0.2em,
          $bk2 0.2em,
          $bk2 0.3em,
          $bkT 0.3em
        )
        9.8em 0 / 0.3em 100%,
      repeating-linear-gradient($w2, $w2 0.1em, $wT 0.1em, $wT 0.2em) 10.2em 0 /
        0.5em 100%,
      linear-gradient(
          90deg,
          $w2,
          $w2 0.1em,
          $wT 0.1em,
          $wT 0.2em,
          $bk2 0.2em,
          $bk2 0.3em,
          $bkT 0.3em
        )
        10.8em 0 / 0.3em 100%,
      linear-gradient($wT 35%, $w2 35%, $w2 65%, $wT 65%) 9.7em 0,
      linear-gradient($gy, $gy) 9.7em 0,
      /* yellow part */ linear-gradient($bk1 27%, $bkT 27%, $bkT 73%, $bk2 73%)
        2em 0,
      linear-gradient($y, $y) 2em 0,
      /* lead */ linear-gradient(-14deg, $dgy 18%, $dgyT 20%) 0 0 / 0.5em 0.5em,
      linear-gradient(14deg, $dgyT 80%, $dgy 83%) 0 0.5em / 0.5em 0.5em,
      /* wooden part */ linear-gradient(-14deg, $tn 48%, $tnT 50%) 0 0 / 2em
        0.5em,
      linear-gradient(14deg, $bkT 48%, $bk1 50%) 0 0.5em / 2em 0.5em,
      linear-gradient(14deg, $tnT 48%, $tn 50%) 0 0.5em / 2em 0.5em;
    background-repeat: no-repeat;
    border-radius: 0 0.1em 0.1em 0;
    opacity: 0;
    visibility: hidden;
    transform-origin: 0 0.25em;
    width: 12em;
    height: 1em;
  }
  &:checked {
    background-color: transparent;
    &:before {
      animation: drawA $dur linear forwards;
    }
    &:after {
      animation: drawB $dur linear;
    }
  }
  &:focus {
    outline: transparent;
    + span {
      color: $bk3;
      outline: transparent;
    }
  }
}
.pristine {
  &:before,
  &:after {
    animation: none;
  }
}

@keyframes drawA {
  from,
  5% {
    width: 0;
    height: 1.35em;
  }
  90%,
  to {
    width: 1.2em;
    height: 1.35em;
  }
}
@keyframes drawB {
  from {
    opacity: 0;
    transform: translate(0em, -0.5em) rotate(-50deg);
    visibility: visible;
  }
  5% {
    opacity: 1;
    transform: translate(0em, 0.3em) rotate(-60deg);
  }
  17% {
    transform: translate(0.25em, 0.8em) rotate(-65deg);
  }
  79% {
    transform: translate(1.1em, -0.14em) rotate(-63deg);
  }
  90% {
    opacity: 1;
    transform: translate(1.2em, -0.15em) rotate(-63deg);
  }
  to {
    opacity: 0;
    transform: translate(1.25em, -1.7em) rotate(-63deg);
  }
}
